.post-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* justify-content: space-evenly; */
    margin-top: 4.5em;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-row-gap: 3%;
    grid-column-gap: 3%;
}

@media only screen and (min-width: 768px) {
    .post-container {
        grid-template-columns: repeat(3, auto);
        margin-top: 4em;
    }
}

.post {
    padding: 10px;
}